In [ ]:
import pandas as pd
# from glob2 import glob
# import os

In [ ]:
# cwd = os.getcwd()
# cwd

In [ ]:
# checking dataframes
# all_header_files = glob('data/cosmetics/*.csv')
# all_header_files

In [ ]:
#for file in all_header_files:
#    tmp = pd.read_csv(cwd + '/' + file)
#    print(file, tmp.shape)
#    print(tmp.columns)

In [ ]:
#allfiles = []

#for file in all_header_files:
#    tmp = pd.read_csv(cwd + '/' + file)
#    allfiles.append(tmp)

In [ ]:
#allData = pd.concat(allfiles)
#allData.shape

In [ ]:
#allData.head()

In [ ]:
# how many users?
#allData['user_id'].nunique()

In [ ]:
#allData['event_type'].unique()

# Send dataframe into a database

In [ ]:
#from sqlalchemy import create_engine
#import mysql.connector as connector

In [ ]:
#mydb = connector.connect(
#  host="localhost",
#  user="root",
#  password = 'password'
#)

#mycursor = mydb.cursor()
#mycursor.execute("CREATE DATABASE cosmetics")

In [ ]:
#engine = create_engine('mysql+mysqlconnector://root:password@localhost/cosmetics')

In [ ]:
#allData.to_sql('cosmetics', engine, if_exists='replace', index=False)

# Goal
- Predict if a user will buy somethin in this month or not?

# Variables

- How many products did he buy this month? o
- How many products did he check this month? o
- how many products did he remove from cart? o
- did he check some products that he bought last months?
- how much did he spend this month? o
- how much did he spend in average per product this month? o
- how many sessions did he have this month? o
- how many categories is he interested this month? o
- does he have similar categories this month compared with the last month?
- how many brands did he check this month? o

## Saving dataframe

In [ ]:
# allData.to_csv('cosmetics_all_data.csv', index=False)
# allData = pd.read_csv('cosmetics_all_data.csv')

In [ ]:
# how many users?
# allData['user_id'].nunique()

In [ ]:
# allData.tail()

## Starting analysis

In [ ]:
# allData['year_month'] = allData['event_time'].apply(lambda x: x[0:7])

In [ ]:
# results_pre = allData.groupby(['year_month', 'user_id', 'event_type']).agg({'product_id': 'nunique', 
#    'price': ['sum', 'mean', 'median'], 
#    'user_session': 'nunique',
#    'category_id': 'nunique'})
# results_pre.columns = ['_'.join(x) for x in results_pre.columns]
# results = results_pre.reset_index()

In [ ]:
# results.head(10)

In [ ]:
# results.to_csv('all_data_summary.csv', index=False)

## Starting from summary

In [8]:
results = pd.read_csv('all_data_summary.csv')
results.head()

,year_month,user_id,event_type,product_id_nunique,price_sum,price_mean,price_median,user_session_nunique,category_id_nunique
0,2019-10,4103071,cart,1,0.67,0.670000,0.670,1,1
1,2019-10,4103071,view,6,22.36,3.194286,3.020,1,2
2,2019-10,8846226,cart,24,87.51,3.646250,3.515,2,15
3,2019-10,8846226,remove_from_cart,12,73.72,4.607500,4.445,2,9
4,2019-10,8846226,view,6,39.40,5.628571,5.790,2,6

In [17]:
user = results['user_id'].unique()[2]

tmp = results[results['user_id'] == user].reset_index(drop=True)
tmp

,year_month,user_id,event_type,product_id_nunique,price_sum,price_mean,price_median,user_session_nunique,category_id_nunique
0,2019-10,9794320,cart,2,10.72,0.824615,0.790,1,1
1,2019-10,9794320,remove_from_cart,3,12.19,3.047500,1.015,1,1
2,2019-10,9794320,view,2,2.82,0.940000,0.790,2,1
3,2019-11,9794320,cart,31,266.68,6.837949,2.480,8,6
4,2019-11,9794320,purchase,4,12.68,3.170000,2.480,1,2
5,2019-11,9794320,remove_from_cart,26,78.99,2.548065,2.480,4,5
6,2019-11,9794320,view,43,687.03,9.160400,2.480,12,8
7,2019-12,9794320,cart,1,28.41,28.410000,28.410,1,1
8,2019-12,9794320,view,11,671.89,44.792667,46.030,4,3
9,2020-02,9794320,cart,3,7.44,2.480000,2.480,3,1

In [20]:
# Extract the minimum and maximum dates from the 'date' column
min_date = tmp['year_month'].min()
max_date = tmp['year_month'].max()

# Create a vector of months between the minimum and maximum dates
date_range = pd.date_range(start=min_date, end=max_date, freq='ME')

# Convert the date range to a list of month-year strings
month_year_list = [date.strftime('%Y-%m') for date in date_range]
month_year_list

# Print the resulting vector
#print(month_year_list)

['2019-10', '2019-11', '2019-12', '2020-01']

In [23]:
tmp['event_type'].unique()

array(['cart', 'remove_from_cart', 'view', 'purchase'], dtype=object)

In [22]:
import pandas as pd

# Assuming you have a DataFrame called 'df' with columns 'group', 'category', and 'value'

# Pivot the DataFrame based on the 'group' column and the 'category' column
pivoted_df = pd.pivot_table(tmp, index='month_year_list', columns='event_type', values='product_id_nunique', aggfunc='sum')

# Print the resulting pivoted DataFrame
print(pivoted_df)

KeyError: 'month_year_list'

In [12]:
df = results.copy()
# Assuming you have a DataFrame called 'df' with columns 'date', 'user_id', 'event_type', 'product', and 'price'

# Resample the 'date' column to fill missing dates for each month
df['date'] = pd.to_datetime(df['year_month'], format='%Y-%m')
df.set_index(['user_id','date'], inplace=True)

# Resample the DataFrame to fill missing dates for each month
df = df.resample('M').asfreq()

# Pivot the DataFrame to fill missing combinations of event_type
df = df.pivot_table(index=df.index, columns='event_type', values='product', aggfunc='first').reset_index()
df = df.fillna('NA')

# Print the resulting DataFrame
print(df)

/tmp/ipykernel_6041/4287202441.py:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').asfreq()

ValueError: MultiIndex has no single backing array. Use 'MultiIndex.to_numpy()' to get a NumPy array of tuples.

In [4]:
tmp = pd.Categorical(results['year_month'], ordered=True)
results['month'] = tmp.codes + 1
results['month_cat'] = ['m_' + str(x) for x in results['month']]
results.tail()

,year_month,user_id,event_type,product_id_nunique,price_sum,price_mean,price_median,user_session_nunique,category_id_nunique,month,month_cat
2758312,2020-02,622090043,cart,1,5.24,5.240,5.240,1,1,5,m_5
2758313,2020-02,622090043,view,2,10.00,5.000,5.000,1,1,5,m_5
2758314,2020-02,622090052,view,2,6.67,3.335,3.335,2,2,5,m_5
2758315,2020-02,622090098,view,1,14.13,14.130,14.130,1,1,5,m_5
2758316,2020-02,622090237,view,1,10.63,10.630,10.630,1,1,5,m_5

In [7]:
results.shape

(2758317, 11)

In [5]:
# it means n months back
periods_of_time = 2

tmp_user = results['user_id'].sample(1, random_state=155).values[0]
tmp_user_df = results.query('user_id == ' + f'{tmp_user}')
tmp_user_df

,year_month,user_id,event_type,product_id_nunique,price_sum,price_mean,price_median,user_session_nunique,category_id_nunique,month,month_cat
164731,2019-10,530222049,cart,15,50.32,3.145000,2.860,3,10,1,m_1
164732,2019-10,530222049,remove_from_cart,9,55.80,3.487500,2.050,2,6,1,m_1
164733,2019-10,530222049,view,7,34.74,4.342500,2.210,3,7,1,m_1
757696,2019-11,530222049,view,1,23.81,23.810000,23.810,1,1,2,m_2
1263720,2019-12,530222049,cart,21,30.28,1.376364,1.150,1,7,3,m_3
1263721,2019-12,530222049,remove_from_cart,6,37.54,3.412727,2.940,1,6,3,m_3
1263722,2019-12,530222049,view,4,16.99,4.247500,3.095,1,4,3,m_3
2327645,2020-02,530222049,cart,16,49.44,3.090000,2.065,2,8,5,m_5
2327646,2020-02,530222049,purchase,9,19.10,2.122222,1.750,1,6,5,m_5
2327647,2020-02,530222049,remove_from_cart,24,95.08,2.022979,1.430,2,9,5,m_5
2327648,2020-02,530222049,view,12,120.24,7.072941,7.940,3,4,5,m_5

In [6]:
tmp_user_df.sort_values(['event_type'])

,year_month,user_id,event_type,product_id_nunique,price_sum,price_mean,price_median,user_session_nunique,category_id_nunique,month,month_cat
164731,2019-10,530222049,cart,15,50.32,3.145000,2.860,3,10,1,m_1
1263720,2019-12,530222049,cart,21,30.28,1.376364,1.150,1,7,3,m_3
2327645,2020-02,530222049,cart,16,49.44,3.090000,2.065,2,8,5,m_5
2327646,2020-02,530222049,purchase,9,19.10,2.122222,1.750,1,6,5,m_5
164732,2019-10,530222049,remove_from_cart,9,55.80,3.487500,2.050,2,6,1,m_1
1263721,2019-12,530222049,remove_from_cart,6,37.54,3.412727,2.940,1,6,3,m_3
2327647,2020-02,530222049,remove_from_cart,24,95.08,2.022979,1.430,2,9,5,m_5
164733,2019-10,530222049,view,7,34.74,4.342500,2.210,3,7,1,m_1
757696,2019-11,530222049,view,1,23.81,23.810000,23.810,1,1,2,m_2
1263722,2019-12,530222049,view,4,16.99,4.247500,3.095,1,4,3,m_3
2327648,2020-02,530222049,view,12,120.24,7.072941,7.940,3,4,5,m_5

In [ ]:
tmp_user_df['month'].max()

In [ ]:
import numpy as np

#tmp_user_df.reindex(range(tmp_user_df['month'].max() - periods_of_time + 1, tmp_user_df['month'].max() + 1))
tmp_user_df.set_index('month')#.reindex(range(tmp_user_df['month'].min(), tmp_user_df['month'].max()), fill_value=np.nan)

In [ ]:
range(periods_of_time)

In [ ]:
periods_of_time = [3, 4]  # Define the time windows

# Create a new DataFrame to store the statistics
stats_df = pd.DataFrame(columns=['month'] + [f'window_{window}' for window in periods_of_time])

# Loop over each month in the DataFrame
for month in tmp_user_df['month'].unique():
    month_df = tmp_user_df[tmp_user_df['month'] == month].copy()
    month_df['value_window'] = [month_df['value'].iloc[max(-window, 0):].rolling(window=window).mean().iloc[-1] for window in periods_of_time]
    stats_df = stats_df.append(pd.Series([month] + month_df['value_window'].tolist(), index=stats_df.columns), ignore_index=True)

stats_df = stats_df.set_index('month')

In [ ]:
#results.to_csv('all_data_summary.csv', index=False)

In [ ]:
#summary_results = results.pivot(index=['year_month', 'user_id'], columns=['month_cat', 'event_type'], 
#    values=['price_sum', 'price_mean', 'price_median', 'user_session_nunique', 'category_id_nunique'])
summary_results = results.pivot(index=['user_id'], columns=['month_cat', 'event_type'], 
    values=['price_sum', 'price_mean', 'price_median', 'user_session_nunique', 'category_id_nunique'])
summary_results.head()

In [ ]:
summary_results.columns = ['_'.join(x) for x in summary_results.columns]
summary_results = summary_results.reset_index()
summary_results.head()

In [ ]:
summary_results.query('user_id == 467315338')

In [ ]:
summary_results.to_csv('summary_results.csv', index=False)